.revise-execute-unit {
  width: 60%;
}

#day-learning {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 690px;
  margin-top: 10px;
}

header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.search-field-container {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.date-search-field-lab,
.status-search-field-lab {
  margin-bottom: 7px;
}

#day-learning .seperate-line {
  margin-bottom: 20px;
}

/* Card Slider Start*/
.wrapper {
  width: 100%;
}

.wrapper .carousel {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 0 60px;
}

.carousel .card {
  height: 400px;
  width: 230px;
  border-radius: 5px;
  margin-left: 20px;
  background: rgb(260, 260, 260);
}

.carousel .shadow-outline {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  margin: 10px 20px;
}

.card header {
  font-size: 1rem;
  margin-bottom: 20px;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
  margin: 20px auto;
}

.owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid #777 !important;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
  background-color: #999 !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

.owl-prev {
  left: 20px;
}

.owl-next {
  right: 10px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 20px;
  color: #777;
  transition: all 0.2s;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #999;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 20px auto;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 06px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.skill svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* @keyframes anim {
  100% {
    stroke-dashoffset: 300;
  }
} */

.progress-calculator-container {
  display: flex;
  /* background: #999; */
  column-gap: 20px;
  width: 150px;
}

.progress-calculator-container .num {
  width: 80px;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.progress-calculator-container .num .progress-num {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  background-color: #e6f5f4;
  padding: 7px;
}

.progress-calculator-container .num .skewbox-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.angle {
  background-color: #a2dad4;
  border-left: 40px solid white;
  border-bottom: 40px solid transparent;
}

.progress-calculator-container .num .skewbox-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #227c73;
}

.progress-calculator-container .num .total-num {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  background-color: #a2dad4;
  padding: 7px;
}

.progress-calculator-container .btn .bxs-chevron-up,
.progress-calculator-container .btn .bxs-chevron-down,
.progress-calculator-container .btn .bx-check {
  display: block;
  height: 20px;
  width: 60px;
  margin-bottom: 10px;
  border: 1px solid #444;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1.5px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.progress-calculator-container .btn i:last-child {
  margin-bottom: 0px;
}

.progress-calculator-container .btn .bxs-chevron-up:hover,
.progress-calculator-container .btn .bxs-chevron-down:hover,
.progress-calculator-container .btn .bx-check:hover {
  background-color: #e6f5f4;
  border: 1px solid #336b6b;
  transition: all 0.4s ease;
}

.progress-calculator-container .btn .bxs-chevron-up:active,
.progress-calculator-container .btn .bxs-chevron-down:active,
.progress-calculator-container .btn .bx-check:active {
  background-color: #1c6b66;
  color: #fff;
}

/* Card Slider End*/

.total-learning__content {
  overflow: scroll;
  height: 400px;
  width: 640px;
  margin: 0 auto;
  border: 1px;
  border-bottom: 2px solid #a2dad4;
  box-shadow: 0px 1px 0px 0px rgb(180, 180, 180);
}

.total-learning__table {
  margin-bottom: 0;
  width: 600px;
}

/* Total Learning */
#total-learning {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

#total-learning-header {
  margin-bottom: 1.5rem;
}

.no-learning-container {
  width: 300px;
  height: 200px;
  margin: 150px auto 0 auto;
  text-align: center;
  color: #444;
}

.no-learning-container h2 {
  margin-bottom: 40px;
}

.zui-table {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #ddeeee;
  border-collapse: collapse; /* <table> の中のセルが境界線を共有するか分離するかを設定します。 */
  border-spacing: 0;
}

.zui-table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

/* CSS */
.button-17 {
  padding: 0.6rem;
  border-radius: 7px;
  border-style: none;
  color: #3c4043;
  background-color: #fff;
  cursor: pointer;

  letter-spacing: 0.25px;
  font-size: 1rem;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
