.register-container {
  width: 400px;
  height: 500px;
  margin: 3rem auto;
  text-align: center;
}

.register-container header {
  margin: 1rem auto 1rem auto;
  color: #444;
}

.register-container .seperator {
  border: 1px solid rgb(180, 180, 180);
  width: 300px;
  margin: 1rem auto 3rem auto;
}

.register-container form .btn {
  display: block;
  margin: 1rem auto;
  width: 250px;
  height: 40px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #227c73, #3f9b92, #227c73);
  background-size: 200%;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.register-container form .btn:hover {
  background-position: right;
}

.register-container form input {
  display: block;
  margin: 2rem auto;
  height: 40px;
  width: 250px;
}

.verification-container {
  width: 700px;
  height: 200px;
  color: #227c73;
  font-weight: 500;
  margin: 3rem auto 0 auto;
}
